<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QuickEvidence.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prism.Wpf" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.0.431" newVersion="7.1.0.431" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.0.431" newVersion="7.1.0.431" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <QuickEvidence.Properties.Settings>
      <setting name="FolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="Color_R" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="Color_G" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Color_B" serializeAs="String">
        <value>0</value>
      </setting>
    </QuickEvidence.Properties.Settings>
  </userSettings>
</configuration>